<div class="dropdown">
    <a href="javascript:void(0);" class="dropdown-toggle">
      {{'My Account' | translate}}
    </a>
      <div class="dropdown-menu" >
        <a class="dropdown-item" [routerLink]="'/profile'">{{'Profile' | translate}}</a>
        <a class="dropdown-item" [routerLink]="'/wishlist'">{{'Wishlist' | translate}}&nbsp;({{wishlistCount}})</a>
        <a class="dropdown-item" [routerLink]="'/compare'">{{'Compare' | translate}}&nbsp;</a>
        <a class="dropdown-item" [routerLink]="'/my-orders'">{{'Orders' | translate}}</a>
        <a class="dropdown-item" [routerLink]="'/shipping-addresses'">{{'Shipping Address' | translate}}</a>
        <a class="dropdown-item" [routerLink]="'/'">{{'Logout' | translate}}</a>
      </div>
</div>
