<div class="pro-content pro-full-screen-banner" >
    <div class="pro-full-bg" style="background-image: url(assets/images/banners/full_screen.jpg);"></div>
    <div class="pro-full-screen-overlay">
      <div class="pro-full-screen">
          <div class="pro-heading-title">
              <h2> {{'The Perfect Match' | translate}} 
              </h2>
              <p>Vitae posuere urna blandit sed. Praesent ut dignissim risus.
                
              </p>
            </div>
            <button class="btn btn-secondary swipe-to-top">
              {{'Shop Now' | translate}}
            </button>
      </div>  
</div>
</div>