<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <div class="container">
        <div class="pro-description">
          <div class="pro-info">
              {{'Get' | translate}}<strong> {{'UPTO 40% OFF' | translate}} </strong>{{'on your 1st order' | translate}}
              <div class="pro-link-dropdown js-toppanel-link-dropdown">
                <a href="shop-page1.html" class="pro-dropdown-toggle">
                  {{'More details' | translate}}
                </a>
                
              </div>
          </div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
        </div>

    </div>
</div>