<app-page-loader></app-page-loader>
<app-header-one></app-header-one>
<app-header-sticky></app-header-sticky>
<app-header-mobile></app-header-mobile>

<!--My Order Content -->
<div class="container-fuild">
    <nav aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="'/'">{{'Home' | translate}}</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{'Orders' | translate}}</li>
            </ol>
        </div>
      </nav>
</div>
<section class="pro-content order-content">
    <div class="container">
        <div class="row">
            <div class="pro-heading-title">
                <h1>
                  {{'Order Page' | translate}}
                </h1>
              </div>
        </div>
      <div class="row">
          
        <div class="col-12 col-lg-3   d-block d-xl-block"> 
            
          <app-user-sidebar></app-user-sidebar>
        </div>
        <div class="col-12 col-lg-9 ">
            
            <table class="table order-table">
                
              <thead>
                <tr class="d-flex">
                    <th class="col-12 d-block d-md-none"></th>
                  <th class="col-12 col-md-3">{{'Order ID' | translate}}</th>
                  <th class="col-12 col-md-3">{{'Order Date' | translate}}</th>
                  <th class="col-12 col-md-3">{{'Total Price' | translate}}</th>
                  <th class="col-12 col-md-3">{{'Order Status' | translate}}</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr class="d-flex">
                    <td class="col-12 d-block d-md-none"><span>{{'Order' | translate}} #1</span></td>
                  <td class="col-12 col-md-3"><a [routerLink]="'/order-detail'">354365G4</a></td>
                  <td class="col-12 col-md-3">  
                      25th April 2019
                  </td>
                  <td class="col-12 col-md-3">
                    $890.00
                  </td>
                  <td class="col-12 col-md-3">
                    <div class="text-secondary">{{'Pending' | translate}}</div>
                  </td>
                </tr>
                <tr class="d-flex">
                    <td class="col-12 d-block d-md-none"><span>{{'Order' | translate}} #2</span></td>
                    <td class="col-12 col-md-3"><a [routerLink]="'/order-detail'">845s5112</a></td>
                    <td class="col-12 col-md-3">  
                        25th Dec 2010
                    </td>
                    <td class="col-12 col-md-3">
                      $896.00
                    </td>
                    <td class="col-12 col-md-3">
                      <div class="text-success">{{'Confirm' | translate}}</div>
                    </td>
                  </tr>
                  <tr class="d-flex">
                      <td class="col-12 d-block d-md-none"><span>{{'Order' | translate}} #3</span></td>
                      <td class="col-12 col-md-3"><a [routerLink]="'/order-detail'">se874142</a></td>
                      <td class="col-12 col-md-3">  
                          25th May 2009
                      </td>
                      <td class="col-12 col-md-3">
                        $8580.00
                      </td>
                      <td class="col-12 col-md-3">
                        <div class="text-danger">{{'Cancel' | translate}}</div>
                      </td>
                    </tr>
              </tbody>
            </table>
            
         
            <div class="pagination justify-content-between ">
                  
              <label  class="col-form-label">Showing 1&ndash;<span class="showing_record">1</span>&nbsp;of&nbsp;<span class="showing_total_record">23</span>&nbsp;results.</label>                                           
          
              <div class="col-12 col-sm-6">
                  <ol class="loader-page">
                    <li class="loader-page-item">
                      <a [routerLink]="'/wishlist'"><i class="fa fa-angle-double-left" style="font-size:12px"></i></a>
                    </li>
                    <li  class="loader-page-item"><a [routerLink]="'/wishlist'">1</a></li>
                    <li  class="loader-page-item"><a [routerLink]="'/wishlist'">2</a></li>
                    <li  class="loader-page-item"><a [routerLink]="'/wishlist'">3</a></li>
                    <li  class="loader-page-item"><a [routerLink]="'/wishlist'">4</a></li>
                    <li  class="loader-page-item">
                      <a [routerLink]="'/wishlist'"><i class="fa fa-angle-double-right" style="font-size:12px"></i></a>
                    </li>
                  </ol>
              </div>
            </div>
          <!-- ............the end..... -->
        </div>
      </div>
    </div>
  </section>


<app-footer-mobile></app-footer-mobile>
<app-footer-three></app-footer-three>
<app-accept-cookie></app-accept-cookie>

<app-newsletter-modal></app-newsletter-modal>
<app-back-to-top></app-back-to-top>
<app-switcher></app-switcher>