<ul class="list-group mb-4">
    <li class="list-group-item">
        <a class="nav-link" [routerLink]="'/profile'">
            <i class="fas fa-user"></i>
            {{'Profile' | translate}}  
        </a>
    </li>
    <li class="list-group-item">
        <a class="nav-link" [routerLink]="'/wishlist'">
            <i class="fas fa-heart"></i>
            {{'Wishlist' | translate}}                  
        </a>
    </li>
    <li class="list-group-item">
        <a class="nav-link" [routerLink]="'/my-orders'">
            <i class="fas fa-shopping-cart"></i>
            {{'Orders' | translate}}                 
        </a>
    </li>
    <li class="list-group-item">
        <a class="nav-link" [routerLink]="'/shipping-addresses'">
            <i class="fas fa-map-marker-alt"></i>
            {{'Shipping Address' | translate}}                           
        </a>
    </li>
    <li class="list-group-item">
        <a class="nav-link" [routerLink]="'/forgot'">
            <i class="fas fa-lock"></i>
            {{'Change Password' | translate}}                           
        </a>
    </li>
    <li class="list-group-item">
        <a class="nav-link" [routerLink]="'/'">
            <i class="fas fa-power-off"></i>
            {{'Logout' | translate}}                               
        </a>
    </li>
    
  </ul>