<!-- //Header Style One -->
<header id="headerOne" class="header-area header-one header-desktop">

    <app-alert-header></app-alert-header>

    <div class="header-mini bg-top-bar">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-5">
            
              <div class="navbar-lang">

                    
                    <app-langauge-dropdown></app-langauge-dropdown>
                    <app-currency-dropdown></app-currency-dropdown>
              </div>
            </div>
          <div class="col-12 col-md-7">
              <div class="pro-header-options">
                <div class="dropdown">
                    
                    <a class="pro-avatar">{{'Welcome User' | translate}}</a>
                </div>
                <app-account-dropdown></app-account-dropdown>
              </div>
              
          </div>
        </div>
      </div> 
    </div>
    <div class="header-maxi bg-header-bar">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-12 col-lg-2">
            <app-logo></app-logo>
          </div>
          
          <div class="col-12 col-sm-8">      
            <form class="form-inline" >
              <div class="search-field-module">    
                                        
                <div class="search-field-select" >
                    <div class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle">
                          {{'All Categories' | translate}}
                        </a>
                          <div class="dropdown-menu" >
                            <a class="dropdown-item" href="#">{{'Rings' | translate}}&nbsp;</a>
                            <a class="dropdown-item" href="#">{{'Earrings' | translate}}&nbsp;</a>
                            <a class="dropdown-item" href="#">{{'Crowns' | translate}}&nbsp;</a>
                            <a class="dropdown-item" href="#">{{'Necklace' | translate}}&nbsp;</a>
                            <a class="dropdown-item" href="#">{{'Bracelet' | translate}}&nbsp;</a>
                            <a class="dropdown-item" href="#">{{'Anklet Bracelets' | translate}}&nbsp;</a>
                            <a class="dropdown-item" href="#">{{'Hairpin' | translate}}&nbsp;</a>
                            <a class="dropdown-item" href="#">{{'Bangle' | translate}}&nbsp;</a>
                          </div>
                    </div> 
                </div>
                <div class="search-field-wrap">
                    <input  type="search" placeholder="{{'Search Products...' | translate}}" data-toggle="tooltip" data-placement="bottom" title="search item">
                    <button class="btn btn-secondary swipe-to-top" data-toggle="tooltip" data-placement="bottom" title="Search Products">
                    <i class="fa fa-search"></i></button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-2">
            <ul class="pro-header-right-options">
              <li>

                <app-wishlist-button></app-wishlist-button>
              </li>
              <li class="dropdown">
                <app-cart-dropdown></app-cart-dropdown>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> 
    <div class="header-navbar bg-menu-bar">
      <div class="container">
        
          
          <app-menu></app-menu>
      </div>
    </div>
    </header>  
