<nav id="headerOneNavbar" class="navbar navbar-expand-lg bg-nav-bar">
<div class="navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" >
              {{'Home' | translate}}
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="'/'">{{'Home 1' | translate}}                     
              </a>
              <a class="dropdown-item" [routerLink]="'/home-two'">{{'Home 2' | translate}}                  
              </a>
              <a class="dropdown-item" [routerLink]="'/home-three'">{{'Home 3' | translate}}                    
                </a>
            </div>
          </li>
              
          <li class="nav-item dropdown mega-dropdown">
            <a class="nav-link dropdown-toggle" href="#"  >
              {{'Mega Menu' | translate}}
              <span class="badge badge-secondary">{{'New' | translate}}</span>
            </a>
            <div class="dropdown-menu mega-dropdown-menu row ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <ul>                                            
                              <li class="dropdown-header">{{'Categories' | translate}}</li>
                              <li><a class="dropdown-item" href="#">{{'Rings' | translate}}</a></li>              		              		
                              <li><a class="dropdown-item" href="#">{{'Earrings' | translate}}</a></li>              		              		
                              <li><a class="dropdown-item" href="#">{{'Crowns' | translate}}</a></li>              		              		
                              <li><a class="dropdown-item" href="#">{{'Necklace' | translate}}</a></li>              		              		
                              <li><a class="dropdown-item" href="#">{{'Bracelet' | translate}}</a></li>  
                              <li><a class="dropdown-item" href="#">{{'Anklet Bracelets' | translate}}</a></li>              		              		
                              <li><a class="dropdown-item" href="#">{{'Hairpin' | translate}}</a></li>              		              		
                              <li><a class="dropdown-item" href="#">{{'Bangle' | translate}}</a></li>                          		              	  
                            </ul>
                        </div>
                        <div class="col-md-2">
                          <ul>                                            
                              <li class="dropdown-header">{{'Departments' | translate}}</li>             		              		
                              <li><a class="dropdown-item" href="#">{{'Fine Jewelry' | translate}}</a></li>              		              		
                              <li><a class="dropdown-item" href="#">{{'Bridal Jewelry' | translate}}</a></li>              		              		
                              <li><a class="dropdown-item" href="#">{{'Timeless Classics' | translate}}</a></li>              		              		
                              <li><a class="dropdown-item" href="#">{{'Men Jewelry' | translate}}</a></li> 
                              <li><a class="dropdown-item" href="#">{{'Women Jewelry' | translate}}</a></li>  
                              <li><a class="dropdown-item" href="#">{{'Baby Jewelry' | translate}}</a></li>
                              <li><a class="dropdown-item" href="#">{{'Charitable Jewelry' | translate}}</a></li>              		             
                          </ul>
                        </div>
                        <div class="col-md-2">
                          <ul>                                                        		              		
                              <li><a class="dropdown-item dropdown-header" href="#">{{'Shop Instagram' | translate}}</a></li>    
                              <li><a class="dropdown-item dropdown-header" href="#">{{'Shop By Brands' | translate}}</a></li>             		              		
                              <li><a class="dropdown-item dropdown-header" href="#">{{'Repair & Cleaning' | translate}}</a></li>              		              		
                              <li><a class="dropdown-item dropdown-header" href="#">{{'Sell Your Jewellery' | translate}}</a></li>                   		             
                          </ul>
                        </div>
                        
                        <div class="col-md-6">
                          <div class="row">                         
                            <div class="col-6 col-lg-6" *ngFor="let product of products | slice:0:2">
                                <div class="product">
                                  <article>                                   
                                    <div class="pro-thumb "> 
                                      <div class="badges">
                                        <div class="badge badge-secondary" *ngIf="product.is_feature==1">{{'Featured' | translate}}</div>
                                      <div class="badge badge-info" *ngIf="product.is_new==1">{{'New' | translate}}</div>
                                      <div class="badge badge-danger" *ngIf="product.discount_price!=null">{{'Sale' | translate}}</div>
                                      </div>
                                      <a [routerLink]="'/product-one'">
                                          <span class="pro-image"><img class="img-fluid" src="{{product.products_image}}" alt="Product Image"></span>
                                          <span class="pro-image-hover swipe-to-top"><img class="img-fluid" src="{{product.products_image}}" alt="Product Image"></span>
                                      </a>
                                      <div class="pro-buttons d-none d-lg-block d-xl-block">
                                          <div class="pro-icons">
                                            <button (click)="onAddWishlist(product)"  class="icon active swipe-to-top">
                                              <i class="fas fa-heart"></i>
                                            </button>
                                            <div class="icon swipe-to-top" data-toggle="modal" data-target="#quickViewModal">
                                              <i class="fas fa-eye"></i>
                                            </div>
                                            <a [routerLink]="'/compare'" class="icon swipe-to-top"><i class="fas fa-align-right" data-fa-transform="rotate-90"></i></a>
                                          </div>
                                          
          
                                          <button type="button" (click)="onAddCart(product)" class="btn btn-secondary btn-block swipe-to-top">{{'Add to Cart' | translate}}</button>
                                        </div>
                                        
                                    </div>
                                    <div class="pro-description">
                                      <h2 class="pro-title"><a [routerLink]="'/product-one'">{{product.products_name}}</a></h2>
                                    </div>
                                  </article>
                                </div>
                            </div>
                            
                          </div>
                        </div>
                    </div>
                </div>
              
            </div>
          </li>
              
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" >
                {{'Shop' | translate}}
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" [routerLink]="'/shop-one'">{{'Top Bar' | translate}}                      
                </a>
                <a class="dropdown-item" [routerLink]="'/shop-two'">{{'Right Sidebar' | translate}}                    
                </a>
                <a class="dropdown-item" [routerLink]="'/shop-three'">{{'Top and Right Sidebar' | translate}}</a>
                <a class="dropdown-item" [routerLink]="'/shop-four'">{{'Left Sidebar' | translate}}</a>
                <a class="dropdown-item" [routerLink]="'/shop-five'">{{'Top and left Sidebar' | translate}}</a>
                
              </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" >
              {{'Product' | translate}}
            </a>
            <div class="dropdown-menu" >
              <a class="dropdown-item" [routerLink]="'/product-one'">{{'Left Carousel' | translate}}</a>
              <a class="dropdown-item" [routerLink]="'/product-two'">{{'Right Carousel' | translate}}</a> 
              <a class="dropdown-item" [routerLink]="'/product-three'">{{'Vertical Thumbnail Carousel' | translate}}</a>
              <a class="dropdown-item" [routerLink]="'/product-four'">{{'Right Banner' | translate}}</a>
              <a class="dropdown-item" [routerLink]="'/product-five'">{{'Best Seller' | translate}}</a>
              
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" >
              {{'Pages' | translate}}
            </a>
            <div class="dropdown-menu">
                <div class="dropdown-submenu">
                    <a class="dropdown-item" [routerLink]="'/not-found'">{{'404 Page' | translate}}</a>
                    
                </div>
              <div class="dropdown-submenu">
                
                <a class="dropdown-item" href="#">{{'About Us' | translate}}
                  <i class="fas fa-chevron-right"></i>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" [routerLink]="'/about-one'">{{'About Us Page 1' | translate}}</a>
                  <a class="dropdown-item" [routerLink]="'/about-two'">{{'About Us Page 2' | translate}}</a>
                </div>
              </div>
              <div class="dropdown-submenu">
                  <a class="dropdown-item" href="#">{{'Contact Us' | translate}}
                    <i class="fas fa-chevron-right"></i>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="'/contact-one'">{{'Contact Us Page 1' | translate}}</a>
                    <a class="dropdown-item" [routerLink]="'/contact-two'">{{'Contact Us Page 2' | translate}}</a>
                  </div>
                </div>
              <div class="dropdown-submenu">
                  <a class="dropdown-item" href="#">{{'Registration' | translate}}
                    <i class="fas fa-chevron-right"></i>
                  </a>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" [routerLink]="'/signup'">{{'Signup Page' | translate}}</a>
                    <a class="dropdown-item" [routerLink]="'/login-one'">{{'Login Page 1' | translate}}</a>
                    <a class="dropdown-item" [routerLink]="'/login-two'">{{'Login Page 2' | translate}}</a>
                  </div>
                </div>
               
              <div class="dropdown-submenu">
                <a class="dropdown-item" href="#">{{'Blog' | translate}}
                  <i class="fas fa-chevron-right"></i>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" [routerLink]="'/blog-one'">{{'Blog Page 1' | translate}}</a>
                  <a class="dropdown-item" [routerLink]="'/blog-two'">{{'Blog Page 2' | translate}}</a>
                </div>
              </div>

              <div class="dropdown-submenu">
                <a class="dropdown-item" href="#">{{'Shopping Cart' | translate}}
                  <i class="fas fa-chevron-right"></i>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" [routerLink]="'/cart-one'">{{'Cart Page 1' | translate}}</a>
                  <a class="dropdown-item" [routerLink]="'/cart-two'">{{'Cart Page 2' | translate}}</a>
                </div>
              </div>

              <div class="dropdown-submenu">
                <a class="dropdown-item" [routerLink]="'/checkout'">{{'Checkout' | translate}}</a>
                
              </div>

              <div class="dropdown-submenu">
                  <a class="dropdown-item" href="#">{{'Email Templates' | translate}}
                    
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="http://katora.themes-coder.net/email-templates/amazing-deals.html" target="_blank">{{'Amazing Deals' | translate}}</a>
                    <a class="dropdown-item" href="http://katora.themes-coder.net/email-templates/new-arrival.html" target="_blank">{{'New Arrival' | translate}}</a>
                    <a class="dropdown-item" href="http://katora.themes-coder.net/email-templates/overall-sale.html" target="_blank">{{'Overall Sale' | translate}}</a>
                    <a class="dropdown-item" href="http://katora.themes-coder.net/email-templates/winter-sale.html" target="_blank">{{'Winter Sale' | translate}}</a>
                    <a class="dropdown-item" href="http://katora.themes-coder.net/email-templates/signup.html" target="_blank">{{'Signup' | translate}}</a>
                    <a class="dropdown-item" href="http://katora.themes-coder.net/email-templates/forgot-password.html" target="_blank">{{'Forgot Password' | translate}}</a>
                  </div>
                </div>
            </div>
          </li>
          
        </ul>
      </div>
    </nav>